.myfont{
    font-family: 'Courier New', Courier, monospace;
}

.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke !important;
}

.containercolor{
    background-color: rgb(215, 91, 69) !important;
}

.myitalics{
    font-style: italic;
}